body {
  font-family: serif;
}

header {
  background-color: #000000;
  color: rgb(255, 78, 78);
}

main {
  background-color: #000000;
}

footer {
  background-color: #000000;
  color: rgb(94, 58, 255);
  text-align: center;
  padding: 10px 0;
}


.card {
  background-color: #ffb820; 
  border: 1px solid #e41a1a;
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(79, 255, 55, 0.1); 
  padding: 16px;
  margin: 16px; 
  max-width: 300px; 
  font-family: Arial, sans-serif; 
}


p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15pt;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color:rgb(187, 38, 1);
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 45pt;
  text-shadow: 0.1em 0.1em 0.2em rgb(255, 32, 32);
}


.card {
  background-color: #ff8119;
  border: 1px solid #ffc21b;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 24px; /* Aumenta o padding interno */
  margin: 20px; /* Aumenta a margem externa */
  max-width: 4000px; /* Aumenta a largura máxima */
  font-family: Arial, sans-serif;
  transition: transform 0.2s; /* Adiciona um efeito de transição */
}

.card:hover {
  transform: scale(1.02); /* Efeito de zoom ao passar o mouse */
}

.card h2 {
  margin-top: 0;
  color: #e40000;
}

.card p {
  color: #c23700;
  line-height: 1.5; /* Aumenta o espaçamento entre linhas */
}